@tailwind base;
@tailwind components;
@tailwind utilities;


  .custom-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    width: 150px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  /* Styling for the active tab */
  .custom-tab[aria-selected="true"] {
    background-color: #B4F9BA;
    outline: none;
    border-radius: 20px;
  }

  
  html{
    background-color: white !important;
  }